<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container mt-3">
            <div class="row">
                <% if(errorMessage) { %>
                    <div class="user-message user-message--error"><%= errorMessage %></div>
                <% } %>
            </div>
            <div class="row">
                <form action="/new-password" method="POST">
                    <div class="mb-3">
                      <label for="password" class="form-label">Enter your new password, <%= username %>!</label>
                      <input type="password" class="form-control" name="password" id="password" placeholder="**********">
                    </div>
                    
                    <input type="hidden" name="userId" value="<%= userId %>">
                    <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                    <button type="submit" class="btn btn-primary">Update Password</button>
                </form>
            </div>
        </div>
    </main>
<%- include('../includes/end.ejs') %>