<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/public/css/product-list.css">
</head>
    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="main">
            <div class="admin_background"></div>
            <% if(products.length > 0) { %>
                <div class="container">
                    <% if(successMessage) { %>
                        <div class="alert alert-success alert-dismissible fade show flash-message" role="alert">
                          <h4><%= successMessage %></h4>
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    <% } %>
                    <div class="row mb-3">
                       <div class="col-md-12">
                          <h1 class="title text-center mt-3">Products Management</h1>
                       </div>
                    </div>
                    <div class="row">
                        <% products.forEach(product => { %>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="product-item my-3">
                                    <img src="/<%= product.imageUrl %>" alt="<%= product.title %>" class="product-item_img w-100">
                                    <div class="px-3">
                                        <h4 class="product-item__name my-2"><%= product.title %></h4>
                                        <h4 class="product-item__price my-1"><%= product.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></h4>
                                        <p class="product-item__desc my-2"><%= product.description %></p>
                                    </div>
                                    <div class="card-action mb-3">
                                        <a href="/admin/edit-product/<%= product._id %>?edit=true" class="btn border border-light text-white">Edit</a>
                                        <% if(isAuthenticated) { %>
                                            <form action="/admin/delete-product" method="POST">
                                                <input type="hidden" name="productId" value="<%= product._id %>">
                                                <button class="btn border border-light text-white text-uppercase">Delete</button>
                                            </form>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <div class="row my-3">
                        <%- include('../includes/pagination.ejs', {currentPage: currentPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage }) %>
                    </div>
                 </div>
            <% } else { %>
                <h1 class="pt-5 title text-center">No products here!</h1>
            <% } %>
        </main>
<%- include('../includes/end.ejs') %>
