<nav class="navbar navbar-expand-lg" style="background-color: #502e2c;">
    <div class="container">
      <a class="navbar-brand text-white" href="#">Anteiku</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link px-4 <%= path === '/' ? 'active' : 'text-white' %>" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-4 <%= path === '/menu' ? 'active' : 'text-white' %>" href="/menu">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-4 <%= path === '/cart' ? 'active' : 'text-white' %>" href="/cart">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-4 <%= path === '/orders' ? 'active' : 'text-white' %>" href="/orders">Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-4 <%= path === '/admin/add-product' ? 'active' : 'text-white' %>" href="/admin/add-product">Add Product</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-4 <%= path === '/admin/products' ? 'active' : 'text-white' %>" href="/admin/products">Admin Products</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link px-4 <%= path === '' ? 'active' : 'text-white' %>" href="/">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link px-4 <%= path === '' ? 'active' : 'text-white' %>" href="/">sign up</a>
              </li>
        </ul>
      </div>
    </div>
</nav>