<header class="header">
  <div class="container">
      <div class="row">
          <!-- navbar -->
            <div class="header__navbar">
                <ul class="header__navbar-list">
                    <li class="header__navbar-item">
                        <a href="/" class="header__navbar-link <%= path === '/' ? 'active' : '' %>">Home</a>
                    </li>
                    <li class="header__navbar-item">
                        <a href="/menu" class="header__navbar-link <%= path === '/menu' ? 'active' : '' %>">Menu</a>
                    </li>
                    <li class="header__navbar-item">
                        <a href="/cart" class="header__navbar-link <%= path === '/cart' ? 'active' : '' %>">Cart</a>
                    </li>
                    <li class="header__navbar-item">
                        <a href="/order" class="header__navbar-link <%= path === '/order' ? 'active' : '' %>">Order</a>
                    </li>
                    <li class="header__navbar-item">
                        <a href="/admin/add-product" class="header__navbar-link <%= path === '/admin/add-product' ? 'active' : '' %>">Add product</a>
                    </li>
                    <li class="header__navbar-item">
                        <a href="/admin/products" class="header__navbar-link <%= path === '/admin/products' ? 'active' : '' %>">Admin products</a>
                    </li>
                </ul>
                <ul class="header__navbar-list">
                  <li class="header__navbar-item">
                    <a href="/login" class="header__navbar-link">Login</a>
                  </li>
                  <li class="header__navbar-item">
                    <a href="/logout" class="header__navbar-link">Logout</a>
                  </li> 
                </ul>
            </div>
      </div>
  </div>
</header>