<%- include('../includes/head.ejs') %>
</head>
    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="main">
            <% if(prods.length > 0) {%>
                <div class="container">
                    <div class="row">
                        <% for(let product of prods) {%>
                            <div class="col">
                                <div class="card" style="width: 15rem;">
                                    <img src="<%= product.imageUrl %>" class="card-img-top" alt="<%= product.title %>">
                                    <div class="card-body">
                                      <h5 class="card-title"><%= product.title %></h5>
                                      <h2 class="card-title"><%= product.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></h2>
                                      <p class="card-text"><%= product.description %></p>
                                      <a href="/menu/<%= product._id %>" class="btn btn-primary">Details</a>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </main>
<%- include('../includes/end.ejs') %>
