<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/public/css/product-list.css">
</head>
    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="main">
            <div class="menu_background"></div>
            <% if(products.length > 0) { %>
                <% if(errorMessage) { %>
                    <div class="alert alert-danger alert-dismissible fade show flash-message" role="alert">
                      <h4><%= errorMessage %></h4>
                      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                <% } %>
                <div class="container">
                    <div class="row mb-3">
                       <div class="col-md-12">
                          <h1 class="title text-center mt-3">OUR COFFEE OFFER</h1>
                       </div>
                    </div>
                    <div class="row">
                        <form action="/search" method="GET" class="d-flex justify-content-end">
                            <input type="text" name="q" class="me-2 w-25 h-100 rounded py-2 px-3" placeholder="Enter the keyword you want to search for">
                            <button type="submit" class="btn_hover btn border border-light text-white text-uppercase fw-bold">search</button>
                        </form>
                    </div>
                    <div class="row" id="menu_view">
                        <% products.forEach(product => { %>
                            <div class="col-sm-6 col-md-4 col-lg-3">
                                <div class="product-item my-3">
                                    <img src="<%= product.imageUrl %>" alt="<%= product.title %>" class="product-item_img w-100">
                                    <div class="px-3">
                                        <h4 class="product-item__name my-2"><%= product.title %></h4>
                                        <h4 class="product-item__price my-1"><%= product.price.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) %></h4>
                                        <p class="product-item__desc my-2"><%= product.description %></p>
                                    </div>
                                    <div class="card-action mb-3">
                                        <a href="/menu/<%= product._id %>" class="btn border border-light text-white">Details</a>
                                        <% if(isAuthenticated) { %>
                                            <form action="/cart" method="POST">
                                                <input type="hidden" name="productId" value="<%= product._id %>">
                                                <input type="hidden" name="currentUrl" value="<%= currentUrl %>">
                                                <button class="btn border border-light text-white text-uppercase">Add to Cart</button>
                                            </form>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <% if(hasPagination) { %>
                        <div class="row my-3">
                            <%- include('../includes/pagination.ejs', {currentPage: currentPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage }) %>
                        </div>
                    <% } %>
                 </div>
            <% } else { %>
                <h1 class="pt-5 title text-center">No products here!</h1>
            <% } %>
        </main>
        <script>
            window.addEventListener("beforeunload", function () {
                sessionStorage.setItem("scrollPosition", window.scrollY);
            })

            // Khôi phục vị trí cuộn khi trang tải lại
            window.addEventListener("load", function () {
                const scrollPosition = sessionStorage.getItem("scrollPosition");
                if (scrollPosition) {
                    window.scrollTo(0, parseInt(scrollPosition, 10));
                }
            })
        </script>
<%- include('../includes/end.ejs') %>
