<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/public/css/product-list.css">
</head>
    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="main">
            <div class="menu_background"></div>
            <div class="container py-5 h-100">
                <div class="row">
                    <div class="col-md-6">
                        <img src="<%= product.imageUrl %>" class="img-fluid rounded border border-black" alt="<%= product.title %>">
                    </div>
                    <div class="col-md-6">
                       <div class="desc">
                            <h1 class="display-5 mb-3"><%= product.title %></h1>
                            <h3 class="mb-3"><%= product.price.toLocaleString('vi-VN',{ style: 'currency' ,currency: 'VND' }) %></h3>
                            <p class="lead mb-5"><%= product.description %></p>
                       </div>
                        <% if(isAuthenticated) { %>
                            <form action="/cart" method="POST" class="ps-5">
                                <input type="hidden" name="productId" value="<%= product._id %>">
                                <button class="my_btn border text-white" type="submit">Add To Cart</button>
                            </form>
                        <% } %>
                    </div>
                </div>
            </div>
        </main>
<%- include('../includes/end.ejs') %>